In [ ]:
import pandas as pd

Series

In [ ]:
ser2 = pd.Series(['apple', 'mango', 'grapes', 'orange'])
ser2

0     apple
1     mango
2    grapes
3    orange
dtype: object

In [ ]:
ser1 = pd.Series([4, 5, 6, 7])
ser1

0    4
1    5
2    6
3    7
dtype: int64

In [ ]:
ser2[1:3]

1     mango
2    grapes
dtype: object

In [ ]:
ser2[:]

0     apple
1     mango
2    grapes
3    orange
dtype: object

In [ ]:
ser3 = pd.Series([5, 6, 7, 8, 9, 1, 3, 5, 18])
ser3

0     5
1     6
2     7
3     8
4     9
5     1
6     3
7     5
8    18
dtype: int64

In [ ]:
ser3[2:7]

2    7
3    8
4    9
5    1
6    3
dtype: int64

In [ ]:
ser4 = pd.Series([5, 6, 7, 8, 9, 1, 3, 5], index = ['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8'])
ser4

r1    5
r2    6
r3    7
r4    8
r5    9
r6    1
r7    3
r8    5
dtype: int64

In [ ]:
ser4['r5':'r9']

r5    9
r6    1
r7    3
r8    5
dtype: int64

In [ ]:
df = pd.read_csv('mtcars.csv')

In [ ]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
df.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [ ]:
df.shape

(32, 12)

In [ ]:
df.mpg

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [ ]:
df['model']

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

DataFrame from scratch

In [ ]:
df1 = pd.DataFrame([[1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7], [4, 5, 8, 9, 6, 5]])
df1

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  2  3  4  5  6  7
2  4  5  8  9  6  5

In [ ]:
df1.columns = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6']
df1.index = ['r1', 'r2', 'r3']
df1

    c1  c2  c3  c4  c5  c6
r1   1   2   3   4   5   6
r2   2   3   4   5   6   7
r3   4   5   8   9   6   5

In [ ]:
import numpy as np

In [ ]:
d = {'name': ['A', 'B', 'C', 'D', 'E'], 'age': [19, 22, np.nan, 18, 19], 'gender': ['M','F', 'M', 'M', 'F']}
d

{'name': ['A', 'B', 'C', 'D', 'E'],
 'age': [19, 22, nan, 18, 19],
 'gender': ['M', 'F', 'M', 'M', 'F']}

In [ ]:
df3 = pd.DataFrame(d)

In [ ]:
df3

  name   age gender
0    A  19.0      M
1    B  22.0      F
2    C   NaN      M
3    D  18.0      M
4    E  19.0      F

In [ ]:
df3.gender

0    M
1    F
2    M
3    M
4    F
Name: gender, dtype: object

In [ ]:
df3['salary'] = [65000, 55000, 45000, 35000, 21000]

In [ ]:
df3

  name   age gender  salary
0    A  19.0      M   65000
1    B  22.0      F   55000
2    C   NaN      M   45000
3    D  18.0      M   35000
4    E  19.0      F   21000

In [ ]:
df3.isnull().any() #for checking null values in the dataset

name      False
age        True
gender    False
salary    False
dtype: bool

In [ ]:
df3.shape

(5, 4)

In [ ]:
df.shape

(32, 12)

In [ ]:
df3.drop(['salary'], axis = 1)#axis = 1 for dropping a column and axis = 0 for dropping a row

  name   age gender
0    A  19.0      M
1    B  22.0      F
2    C   NaN      M
3    D  18.0      M
4    E  19.0      F

In [ ]:
df3.isnull().sum()

name      0
age       1
gender    0
salary    0
dtype: int64

In [ ]:
dfd = df3.drop(3, axis = 0)

In [ ]:
dfd

  name   age gender  salary
0    A  19.0      M   65000
1    B  22.0      F   55000
2    C   NaN      M   45000
4    E  19.0      F   21000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
df3.describe() #statistical analysis of the data

             age        salary
count   4.000000      5.000000
mean   19.500000  44200.000000
std     1.732051  17123.083834
min    18.000000  21000.000000
25%    18.750000  35000.000000
50%    19.000000  45000.000000
75%    19.750000  55000.000000
max    22.000000  65000.000000

replacing the missing data either by mean, median or mode

In [ ]:
df3.age.mean()

19.5

In [ ]:
df3.age.median()

19.0

In [ ]:
df3.age = df3.age.fillna(df3.age.median())

In [ ]:
df3

  name   age gender  salary
0    A  19.0      M   65000
1    B  22.0      F   55000
2    C  19.0      M   45000
3    D  18.0      M   35000
4    E  19.0      F   21000

In [ ]:
df.loc[3]

model    Hornet 4 Drive
mpg                21.4
cyl                   6
disp              258.0
hp                  110
drat               3.08
wt                3.215
qsec              19.44
vs                    1
am                    0
gear                  3
carb                  1
Name: 3, dtype: object

In [ ]:
df3

  name   age gender  salary
0    A  19.0      M   65000
1    B  22.0      F   55000
2    C  19.0      M   45000
3    D  18.0      M   35000
4    E  19.0      F   21000

In [ ]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
#Encoding - converting object data type to int/float
'''
1. One Hot Encoding
2. Label Encoding
3. Manual Encoding
'''

'\n1. One Hot Encoding\n2. Label Encoding\n3. Manual Encoding\n'

In [ ]:
df.head(3)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [ ]:
pd.get_dummies(df['model'])

,AMC Javelin,Cadillac Fleetwood,Camaro Z28,Chrysler Imperial,Datsun 710,Dodge Challenger,Duster 360,Ferrari Dino,Fiat 128,Fiat X1-9,...,Merc 280C,Merc 450SE,Merc 450SL,Merc 450SLC,Pontiac Firebird,Porsche 914-2,Toyota Corolla,Toyota Corona,Valiant,Volvo 142E
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1